<nav class="navbar navbar-dark bg-primary navbar-expand">
    <div class="container"><a class="navbar-brand" href="/">Service Point</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/api/convertcsv"><span>Generate Orders CSV</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/api/csv-file-product"><span>Generate Products CSV</span></a></li>
      </ul>
      <!-- <span class="navbar-text"><a class="nav-link" href="#"><span> Login</span></a></span> -->
  </div>
</nav>